auto-save-list
*~
ac-comphist.dat
ido.last
projectile-bookmarks.eld
/eshell/
/projectile.cache
/tramp
/semanticdb/
/smex-items
/url
/ensime
*\#*
/async-bytecomp.log
*.elc
/elpa/
.cask/
/company-statistics-cache.el
/recentf
