[submodule "gruvbox-theme"]
	path = gruvbox-theme
	url = git@github.com:jeffwk/gruvbox-theme.git
[submodule "eval-sexp-fu.el"]
	path = eval-sexp-fu.el
	url = git@github.com:jeffwk/eval-sexp-fu.el.git
[submodule "alect-themes"]
	path = alect-themes
	url = git@github.com:jeffwk/alect-themes.git
[submodule "aggressive-indent-mode"]
	path = aggressive-indent-mode
	url = git@github.com:jeffwk/aggressive-indent-mode.git
[submodule "org-alert"]
	path = org-alert
	url = git@github.com:jeffwk/org-alert.git
